<footer class="footer">
  <div class="container footer__grid">
    <div>
      <a class="brand brand--footer" href="{{BASE_PATH}}index.html#inicio"><span class="brand__logo">✦</span><span class="brand__text">OZONO
          VIDA</span></a>
      <p>Ozonoterapia y medicina regenerativa para una vida sin dolor.</p>
    </div>
    <div>
      <h4>Enlaces</h4>
      <ul class="footer__links">
        <li><a href="{{BASE_PATH}}index.html#servicios">Servicios</a></li>
        <li><a href="{{BASE_PATH}}index.html#tratamientos">Tratamientos</a></li>
        <li><a href="{{BASE_PATH}}index.html#nosotros">Nosotros</a></li>
        <li><a href="{{BASE_PATH}}index.html#contacto">Contacto</a></li>
      </ul>
    </div>
    <div>
      <h4>Redes Sociales</h4>
      <div id="social-links-container">
        <!-- Las redes sociales se cargarán dinámicamente aquí -->
      </div>
    </div>
  </div>
  <div class="container footer__copy">
    <small>© <span id="year"></span> OZONO VIDA. Todos los derechos reservados.</small>
  </div>
</footer>