<header id="inicio" class="header">
  <div class="container header__inner">
    <a class="brand" href="{{BASE_PATH}}index.html#inicio" aria-label="OZONO VIDA HUARAZ inicio">
      <div class="brand__logo">
        <img src="{{BASE_PATH}}assets/logo-space.png" alt="OZONO VIDA HUARAZ Logo" width="70" height="70">
      </div>
      <div class="brand__text">
        <span class="brand__ozono-vida">OZONO VIDA</span>
        <span class="brand__huaraz">TRATAMINETO DEL DOLOR</span>
      </div>
    </a>
    <nav class="nav" aria-label="Principal">
      <button class="nav__toggle" aria-expanded="false" aria-controls="menu" aria-label="Abrir menú de navegación">
        <span class="hamburger">
          <span class="hamburger__line"></span>
          <span class="hamburger__line"></span>
          <span class="hamburger__line"></span>
        </span>
      </button>
      <ul id="menu" class="nav__links">
        <li><a href="{{BASE_PATH}}index.html#servicios">Servicios</a></li>
        
        <li class="dropdown">
          <button class="dropdown__trigger" type="button" aria-expanded="false" aria-controls="submenu-tratamientos">
            Tratamientos <i class="fa-solid fa-chevron-down"></i>
          </button>
          <ul class="dropdown__menu" id="submenu-tratamientos">
            <li class="dropdown__item dropdown__item--has-submenu">
              <button class="dropdown__link" type="button" aria-expanded="false" aria-controls="submenu-dolor">
                Tratamiento de Dolor <i class="fa-solid fa-plus submenu-icon"></i>
              </button>
              <ul class="dropdown__submenu" id="submenu-dolor">
                <!-- submenu de dolor -->
                <li class="dropdown__item dropdown__item--has-submenu">
                  <button class="dropdown__link" type="button" aria-expanded="false" aria-controls="submenu-dolores">
                    Dolores <i class="fa-solid fa-plus submenu-icon"></i>
                  </button>
                  <ul class="dropdown__submenu" id="submenu-dolores">
                    <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/dolores/index.html#cabeza">Cabeza</a></li>
                    <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/dolores/index.html#cuello">Cuello</a></li>
                    <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/dolores/index.html#hombros">Hombros</a></li>
                    <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/dolores/index.html#espalda">Espalda</a></li>
                    <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/dolores/index.html#codo">Codo</a></li>
                    <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/dolores/index.html#columna">Columnas</a></li>
                    <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/dolores/index.html#manos">Manos</a></li>
                    <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/dolores/index.html#cadera">Cadera</a></li>
                    <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/dolores/index.html#muslo">Muslo</a></li>
                    <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/dolores/index.html#rodilla">Rodillas</a></li>
                    <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/dolores/index.html#tobillos">Tobillos</a></li>
                    <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/dolores/index.html#pies">Pies</a></li>
                    <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/dolores/index.html#plantas-de-los-pies">Planta de los pies</a></li>
                  </ul>
                </li>
                <li class="dropdown__item dropdown__item--has-submenu">
                  <button class="dropdown__link" type="button" aria-expanded="false" aria-controls="submenu-artrosis">
                    Artrosis <i class="fa-solid fa-plus submenu-icon"></i>
                  </button>
                  <ul class="dropdown__submenu" id="submenu-artrosis">
                    <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/artrosis/index.html#artrosis-hombro">Hombro</a></li>
                    <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/artrosis/index.html#artrosis-cadera">Cadera</a></li>
                    <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/artrosis/index.html#artrosis-rodilla">Rodilla</a></li>
                  </ul>
                </li>
                <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/index.html#hernias-discales">Hernias Discales</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/index.html#lumbalgia">Lumbalgia</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/index.html#cervicalgia">Cervicalgia</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/index.html#artritis">Artritis</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/index.html#tendinitis">Tendinitis</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/index.html#fibromialgia">Fibromialgia</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/index.html#ciatalgia">Ciatalgia</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/index.html#tunel-carpiano">Túnel carpiano</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/index.html#escoliosis">Escoliosis</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/index.html#espolon-calcaneo">Espolón calcáneo</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/tratamiento-de-dolor/index.html#fascitis-plantar">Fascitis plantar</a></li>
              </ul>
            </li>
            <li class="dropdown__item dropdown__item--has-submenu">
              <button class="dropdown__link" type="button" aria-expanded="false" aria-controls="submenu-enfermedades">
                Tratamiento de Enfermedades <i class="fa-solid fa-plus submenu-icon"></i>
              </button>
              <ul class="dropdown__submenu" id="submenu-enfermedades">
                <li><a href="{{BASE_PATH}}tratamientos/enfermedades/index.html#diabetes">Diabetes Mellitus</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/enfermedades/index.html#insuficiencia-vascular">Insuficiencia Vascular</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/enfermedades/index.html#hepatitis">Hepatitis Crónica</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/enfermedades/index.html#colitis">Colitis Ulcerosa</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/enfermedades/index.html#enfermedad-de-crohn">Enfermedad de Crohn</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/enfermedades/index.html#varices">Varices</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/enfermedades/index.html#prostatitis">Prostatitis</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/enfermedades/index.html#gota">Gota</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/enfermedades/index.html#gastritis">Gastritis</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/enfermedades/index.html#cefaleas-migranas">Cefaleas y Migrañas</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/enfermedades/index.html#lupus-eritematoso">Lupus eritematoso</a></li>
              </ul>
            </li>
            <li class="dropdown__item dropdown__item--has-submenu">
              <button class="dropdown__link" type="button" aria-expanded="false" aria-controls="submenu-estetica">
                Estética <i class="fa-solid fa-plus submenu-icon"></i>
              </button>
              <ul class="dropdown__submenu" id="submenu-estetica">
                <li><a href="{{BASE_PATH}}tratamientos/estetica/index.html#rejuvenecimiento-facial">Rejuvenecimiento Facial</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/estetica/index.html#celulitis">Celulitis</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/estetica/index.html#ulceras-cronicas">Úlceras Crónicas y Varicosas</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/estetica/index.html#acne">Acné</a></li>
              </ul>
            </li>
            <li class="dropdown__item dropdown__item--has-submenu">
              <button class="dropdown__link" type="button" aria-expanded="false" aria-controls="submenu-infecciones">
                Infecciones <i class="fa-solid fa-plus submenu-icon"></i>
              </button>
              <ul class="dropdown__submenu" id="submenu-infecciones">
                <li><a href="{{BASE_PATH}}tratamientos/infecciones/index.html#heridas-infectadas">Heridas Infectadas</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/infecciones/index.html#pie-diabetico">Pie Diabético</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/infecciones/index.html#ulceras-varicosas">Úlceras Varicosas</a></li>
              </ul>
            </li>
            <li class="dropdown__item dropdown__item--has-submenu">
              <button class="dropdown__link" type="button" aria-expanded="false" aria-controls="submenu-ginecologia">
                Ginecología <i class="fa-solid fa-plus submenu-icon"></i>
              </button>
              <ul class="dropdown__submenu" id="submenu-ginecologia">
                <li><a href="{{BASE_PATH}}tratamientos/ginecologia/index.html#candidiasis">Candidiasis</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/ginecologia/index.html#vaginitis">Vaginitis</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/ginecologia/index.html#vph">Virus de Papiloma Humano</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/ginecologia/index.html#endometriosis">Endometriosis</a></li>
                <li><a href="{{BASE_PATH}}tratamientos/ginecologia/index.html#post-cesarea">Post Cesárea</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <button class="dropdown__trigger" type="button" aria-expanded="false" aria-controls="submenu-aplicaciones">
            Aplicaciones <i class="fa-solid fa-chevron-down"></i>
          </button>
          <ul class="dropdown__menu" id="submenu-aplicaciones">
            <li><a href="{{BASE_PATH}}aplicaciones/index.html#intramuscular">Intramuscular</a></li>
            <li><a href="{{BASE_PATH}}aplicaciones/index.html#intra-articular">Intraarticular</a></li>
            <li><a href="{{BASE_PATH}}aplicaciones/index.html#auto-hemoterapia-menor">Auto hemoterapia menor</a></li>
            <li><a href="{{BASE_PATH}}aplicaciones/index.html#auto-hemoterapia-mayor">Auto hemoterapia mayor</a></li>
            <li><a href="{{BASE_PATH}}aplicaciones/index.html#suero-ozonizado">Sueros ozonizados</a></li>
            <li><a href="{{BASE_PATH}}aplicaciones/index.html#bolsa-ozonisada">Bolsa ozonisada</a></li>
            <li><a href="{{BASE_PATH}}aplicaciones/index.html#insuflacion-rectal">Insuflación rectal</a></li>
            <li><a href="{{BASE_PATH}}aplicaciones/index.html#embolsados">Embolsados</a></li>
          </ul>
        </li>
        <li><a href="{{BASE_PATH}}index.html#testimonios">Testimonios</a></li>
        <li><a href="{{BASE_PATH}}index.html#contacto">Contacto</a></li>
        <li><a href="{{BASE_PATH}}index.html#nosotros">Nosotros</a></li>
        <li><a class="btn btn--primary" href="#citas" data-open-modal>Reservar</a></li>
      </ul>
    </nav>
  </div>
</header>